.container {
  display: grid;
  grid-template-rows: min-content 1fr;
}

.background {
  z-index: 1;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: gray;
}

.content {
  height: 100%;
  z-index: 2;
  margin: 1rem;
}

.footer {
  margin-top: auto;
  z-index: 3;
}

.navigation {
  z-index: 3;
  grid-row: 1;
  position: sticky;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgba(200,200,200,0.5);
  backdrop-filter: blur(5px);
}

.mask {
  z-index: 4;
  position: absolute;
}

.popout {
  z-index: 5;
  position: absolute;
}